---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "hero"}}
    <div class="tiles-main">
        <a href="/login.php?action=create_account">
            <img src="https://cdn3.bigcommerce.com/s-urrxd/product_images/uploaded_images/wholesalebanner.jpg?t=1491932186" border="0" align="middle" height="40">
        </a>
    </div>
    {{#if carousel}}
        {{> components/carousel}}
    {{/if}}
    {{{snippet 'home_content'}}}
{{/partial}}

{{#partial "page"}}

    {{#each shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

<div class="main full">

    <div class="Content Widest" id="LayoutColumn1">
        <div class="nospace">
            <div class="tile-images"><a href="https://www.youtube.com/watch?v=BijR_yCBaDM"><img src="https://cdn3.bigcommerce.com/s-urrxd/product_images/uploaded_images/wholesale-gifts-01.jpg?t=1483640615" border="0"/></a><a href="http://rouxbrands.com/catalog-roux/"><img src="https://cdn3.bigcommerce.com/s-urrxd/product_images/uploaded_images/wholesale-gifts-02.jpg?t=1483640615" border="0"/></a><a href="https://youtu.be/_zYkMjdO6A4"><img src="https://cdn3.bigcommerce.com/s-urrxd/product_images/uploaded_images/wholesale-gifts-03.jpg?t=1483640616" border="0"/></a>
            </div>
        </div>
        <div class="nospace">
            <div class="tile-images"><a href="http://www.rouxbrands.com/collections/soiree/"><img src="https://cdn3.bigcommerce.com/s-urrxd/product_images/uploaded_images/fleur-de-lis-decor-01.jpg?t=1483645902" border="0"/></a><a href="http://rouxbrands.com/catalog-collections/summer-love-bags-accessories/"><img src="https://cdn3.bigcommerce.com/s-urrxd/product_images/uploaded_images/fleur-de-lis-decor-02.jpg?t=1483645903" border="0"/></a><a href="http://rouxbrands.com/collections/dinnerware/"><img src="https://cdn3.bigcommerce.com/s-urrxd/product_images/uploaded_images/fleur-de-lis-decor-03.jpg?t=1483645903" border="0"/></a>
            </div>
        </div>
        <div class="nospace">
            <div class="tile-images"><a href="http://rouxbrands.com/fall-2016/message-boards-and-decor/"><img src="https://cdn3.bigcommerce.com/s-urrxd/product_images/uploaded_images/wholesale-home-decor-01.jpg?t=1483645886" border="0"/></a><a href="http://rouxbrands.com/wholesale-hand-towels/"><img src="https://cdn3.bigcommerce.com/s-urrxd/product_images/uploaded_images/wholesale-home-decor-02.jpg?t=1483645887" border="0"/></a><a href="http://rouxbrands.com/wholesale-glassware/roux-collection/"><img src="https://cdn3.bigcommerce.com/s-urrxd/product_images/uploaded_images/wholesale-home-decor-03.jpg?t=1483645887" border="0"/></a>
            </div>
        </div>
        <div class="nospace">
            <div class="tile-images"><a href="http://rouxbrands.com/wholesale-bath-bombs/"><img src="https://cdn3.bigcommerce.com/s-urrxd/product_images/uploaded_images/home-decor-wholesale-01.jpg?t=1483646636" border="0"/></a><a href="http://rouxbrands.com/wholesale-candles-diffusers-sachets/"><img src="https://cdn3.bigcommerce.com/s-urrxd/product_images/uploaded_images/home-decor-wholesale-02.jpg?t=1483646636" border="0"/></a><a href="http://rouxbrands.com/collections/stainless-grilling/"><img src="https://cdn3.bigcommerce.com/s-urrxd/product_images/uploaded_images/home-decor-wholesale-03.jpg?t=1483646637" border="0"/></a>
            </div>
        </div>

        {{> components/carousel_bottom}}
        <br /><br/>
        <div class="tiles-main" style="margin-left: 10px;
                                        margin-right: 10px;">
            <div class="nospace">
                <div class="tile-text">

                    <div class="home-text-carousel"
                         data-slick='{
                                        "slidesToShow": 1,
                                        "slidesToScroll": 1,
                                        "autoplay": true,
                                        "autoplaySpeed": 2000,
                                        "mobileFirst": true,
                                        "responsive": [
                                            {
                                                "breakpoint": 1260,
                                                "settings": {
                                                    "slidesToScroll": 1,
                                                    "slidesToShow": 3
                                                }
                                            },
                                            {
                                                "breakpoint": 800,
                                                "settings": {
                                                    "slidesToScroll": 1,
                                                    "slidesToShow": 2
                                                }
                                            },
                                            {
                                                "breakpoint": 550,
                                                "settings": {
                                                    "slidesToScroll": 1,
                                                    "slidesToShow": 1
                                                }
                                            }
                                        ]}'>
                        <div class="heroCarousel-slide">
                            <div class="text-block"
                                 style="background-image: url({{cdn 'img/text_blocks/wholesalecandles1.png'}})">
                                <img class="heroCarousel-image" src="{{cdn 'img/text_blocks/wholesalecandles1.png'}}"/>
                                <div class="heroCarousel-content">
                                    <a href="/history-of-the-fleur-de-lis/"><h1>Fleur-de-Lis in History</h1></a>

                                    <p class="heroCarousel-description">
                                        The Fleur-de-lis. A symbol most Louisianans are familiar with as a decorative piece on porches, wall hangings or clothing.

                                        But have you ever heard the story of how the Fleur-de-lis came to be, and why it made its way into Louisiana?

                                        In French, fleur-de-lis literally means "lily flower". It may come as no surprise that an emblem found all over the state of Louisiana has its roots in a flower from French culture, stemming from the French colonization of the Americas, particularly present day Louisiana...
                                    </p>


                                </div>
                            </div>
                        </div>
                        <div class="heroCarousel-slide">
                            <div class="text-block"
                                 style="background-image: url({{cdn 'img/text_blocks/aromabotanical1.png'}})">
                                <img class="heroCarousel-image" src="{{cdn 'img/text_blocks/aromabotanical1.png'}}"/>
                                <div class="heroCarousel-content">
                                    <a href="/story-of-roux-brands/"><h1>Making Roux Brands</h1></a>

                                    <p class="heroCarousel-description">
                                        Roux Brands was pioneered by Angela Carville Fluker in 2006.
                                        It began as a retail store in the confines of a small guesthouse and is now a bustling cluster of warehouses.
                                        Angela focused primarily on Fleur-de-lis pewter but, over the years, we quickly diversified into a broad line of Southern décor
                                        products inspired by the charm and decadence of the Gulf South. We’ve gone from single piece sales to bulk orders of hundreds
                                        in a very short time. But our growth has not been without hardship. Fortunately, persistence prevails...
                                    </p>


                                </div>
                            </div>
                        </div>
                        <div class="heroCarousel-slide">
                            <div class="text-block"
                                 style="background-image: url({{cdn 'img/text_blocks/aroma-botanical-candles2.png'}})">
                                <img class="heroCarousel-image" src="{{cdn 'img/text_blocks/aroma-botanical-candles2.png'}}"/>
                                <div class="heroCarousel-content">
                                    <a href="/design-to-shelf-gumbo-bowl/"><h1>Creation of the Gumbo Bowl</h1></a>

                                    <p class="heroCarousel-description">
                                        Gumbo, the quintessential melting pot, is a Southern tradition and quite possibly one of the few truly indigenous American fares.
                                        It is an elegant dish that permits endless variation. Yet some aspects of the dish are completely obstinate.
                                        When Roux Brands elected to pursue the legacy of Gumbo bowl design, we knew “the recipe” permitted pizazz,
                                        but never felt so at home as to recreate the classic bowl without adhering to the standards by which the dish is measured.
                                        Our designers took creative charge while maintaining a truth to Gumbo that should never be left out...
                                    </p>


                                </div>
                            </div>
                        </div>
                        <div class="heroCarousel-slide">
                            <div class="text-block"
                                 style="background-image: url({{cdn 'img/text_blocks/wholesalegifts.png'}})">
                                <img class="heroCarousel-image" src="{{cdn 'img/text_blocks/wholesalegifts.png'}}"/>
                                <div class="heroCarousel-content">
                                    <a href="/wholesale-home-decor/"><h1>Wholesale Home Decor</h1></a>

                                    <p class="heroCarousel-description">
                                        Finding the right vendor to stock your gift shop or boutique can be challenging.
                                        Roux Brands stocks an outstanding selection of wholesale home decor at affordable prices and excellent quality.
                                        We're constantly looking to expand our wholesale home decor offering and broader our list of wholesale products for you to shop.
                                        As we continue to grow into the company you need us to be, trust us to tell the story that sells.
                                    </p>


                                </div>
                            </div>
                        </div>
                        <div class="heroCarousel-slide">
                            <div class="text-block"
                                 style="background-image: url({{cdn 'img/text_blocks/wholesale-bookends1.png'}})">
                                <img class="heroCarousel-image" src="{{cdn 'img/text_blocks/wholesale-bookends1.png'}}"/>
                                <div class="heroCarousel-content">
                                    <a href=""><h1>Online Wholesale Shopping</h1></a>

                                    <p class="heroCarousel-description">
                                        As technology has progressed, so too has the wholesale buying process. We were sad to loose many of you to our online shopping interface,
                                        but having the time to phone in or fax in orders can be difficult.
                                        We're making a brand new commitment in 2017 to provide you with the best wholesale home decor online shopping experience possible.
                                        Please let us know when something's not right and we'll be certain to make it so.
                                        Roux Brands is commited to the best gifts and premiums that resonate your own unique story.
                                    </p>


                                </div>
                            </div>
                        </div>
                        <div class="heroCarousel-slide">
                            <div class="text-block"
                                 style="background-image: url({{cdn 'img/text_blocks/wholesalejewelry.png'}})">
                                <img class="heroCarousel-image" src="{{cdn 'img/text_blocks/wholesalejewelry.png'}}"/>
                                <div class="heroCarousel-content">
                                    <a href=""><h1>Reaching a Broader Audience</h1></a>

                                    <p class="heroCarousel-description">
                                        For many years we've remained commited to designing and importing wholesale gifts and premiums that speak to our home region,
                                        but our dreams are much larger than that. Roux Brands is striving to provide the same story telling ability to a larger,
                                        more diverse audience. We think our unique talents will make this dream a reality. We look forward to seeing what you'll do.
                                    </p>


                                </div>
                            </div>
                        </div>
                        <!--<div class="block" style="background-image: url({{cdn 'img/text_blocks/wholesalecandles1.png'}})">-->
                            <!--<a href="/history-of-the-fleur-de-lis/"><h1>Fleur-de-Lis in History</h1></a>-->
                            <!--The Fleur-de-lis. A symbol most Louisianans are familiar with as a decorative piece on porches, wall hangings or clothing.-->

                            <!--But have you ever heard the story of how the Fleur-de-lis came to be, and why it made its way into Louisiana?-->

                            <!--In French, fleur-de-lis literally means "lily flower". It may come as no surprise that an emblem found all over the state of Louisiana has its roots in a flower from French culture, stemming from the French colonization of the Americas, particularly present day Louisiana...-->
                        <!--</div>-->
                        <!--<div class="block">-->
                            <!--<a href="/story-of-roux-brands/"><h1>Making Roux Brands</h1></a>-->
                            <!--Roux Brands was pioneered by Angela Carville Fluker in 2006.-->
                            <!--It began as a retail store in the confines of a small guesthouse and is now a bustling cluster of warehouses.-->
                            <!--Angela focused primarily on Fleur-de-lis pewter but, over the years, we quickly diversified into a broad line of Southern décor-->
                            <!--products inspired by the charm and decadence of the Gulf South. We’ve gone from single piece sales to bulk orders of hundreds-->
                            <!--in a very short time. But our growth has not been without hardship. Fortunately, persistence prevails...-->
                        <!--</div>-->
                        <!--<div class="block">-->
                            <!--<a href="/design-to-shelf-gumbo-bowl/"><h1>Creation of the Gumbo Bowl</h1></a>-->
                            <!--Gumbo, the quintessential melting pot, is a Southern tradition and quite possibly one of the few truly indigenous American fares. It is an elegant dish that permits endless variation. Yet some aspects of the dish are completely obstinate. When Roux Brands elected to pursue the legacy of Gumbo bowl design, we knew “the recipe” permitted pizazz, but never felt so at home as to recreate the classic bowl without adhering to the standards by which the dish is measured. Our designers took creative charge while maintaining a truth to Gumbo that should never be left out...-->
                        <!--</div>-->
                        <!--<div class="block">-->
                            <!--<a href="/wholesale-home-decor/"><h1>Wholesale Home Decor</h1></a>-->
                            <!--Finding the right vendor to stock your gift shop or boutique can be challenging. Roux Brands stocks an outstanding selection of wholesale home decor at affordable prices and excellent quality. We're constantly looking to expand our wholesale home decor offering and broader our list of wholesale products for you to shop. As we continue to grow into the company you need us to be, trust us to tell the story that sells.-->
                        <!--</div>-->
                        <!--<div class="block">-->
                            <!--<a href=""><h1>Online Wholesale Shopping</h1></a>-->
                            <!--As technology has progressed, so too has the wholesale buying process. We were sad to loose many of you to our online shopping interface, but having the time to phone in or fax in orders can be difficult. We're making a brand new commitment in 2017 to provide you with the best wholesale home decor online shopping experience possible. Please let us know when something's not right and we'll be certain to make it so. Roux Brands is commited to the best gifts and premiums that resonate your own unique story.-->
                        <!--</div>-->
                        <!--<div class="block">-->
                            <!--<a href=""><h1>Reaching a Broader Audience</h1></a>-->
                            <!--For many years we've remained commited to designing and importing wholesale gifts and premiums that speak to our home region, but our dreams are much larger than that. Roux Brands is striving to provide the same story telling ability to a larger, more diverse audience. We think our unique talents will make this dream a reality. We look forward to seeing what you'll do.-->
                        <!--</div>-->
                    </div>
                </div>


            </div>
        </div>


    </div>

</div>
{{/partial}}
{{> layout/base}}
