// =============================================================================
// BODY (CSS)
//
// 1. Header is fixed on small screens, use the content body to create the whitespace
//    between it and the header on all situations. If you change the spacing here,
//    please update .heroCarousel too.
//
// =============================================================================


.body {
    margin-bottom: spacing("double") * 2;
    margin-top: spacing("single"); // 1

    .tiles-main{
        margin-top: 2.8rem;
    }

    @include breakpoint("medium") {
        margin-top: spacing("single") + spacing("base"); // 1
        padding-top: 200px;
        .tiles-main{
            margin-top: -2.6rem;
        }
    }

    &.contracted{
        .tiles-main{
            margin-top: -2rem;
        }
    }

    .breadcrumbs{
        text-align: left;
    }
}




.page {
    @include grid-row(
        $behavior: nest
    );
}

.page-content,
.page-content--full {
    @include grid-column(12);
}

.page-content--centered {

    @include breakpoint("medium") {
        @include grid-column(
            $columns: 8,
            $center: true
        );
    }
}

.page-content--textCenter {
    text-align: center;
}

.page-sidebar {
    @include grid-column(12);
    position: relative;

    @include breakpoint("medium") {
        @include grid-column(3);

        + .page-content {
            @include grid-column(9);
        }
    }
}

.heroCarousel{
    .slick-next, .slick-prev{
        //background: transparent;
        background: rgba(255,255,255,0.5);
    }
}

.heroCarousel-slide {
    &.bottom {
        .heroCarousel-content{
            //background: transparent;
            background: rgba(255, 255, 255, 0.2);
        }

        .heroCarousel-title{
            color: #4e4d4d;
            font-size: 36px;
        }

        hr{
            border: none;
            border-width: 1px 0 0;
            clear: both;
            height: 1px;
            width: 50px;
            margin: 0 auto 20px auto;
            background: #4e4d4d;
        }

        .heroCarousel-description{
            font-size: 18px;
            font-style: italic;
            color: #4e4d4d;
        }
        .button--carousel {
            background-color: #e7e6e6;
            border-radius: 4px;
            border: 0px solid #e7e6e6;

            color: #9B9B9B;
        }

        .button--carousel:hover {
            background-color: #454545;
            border-width: 0;
            color: white;
        }

        /* Shutter In Horizontal */
        .hvr-shutter-in-horizontal {
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px transparent;
            position: relative;
            background: #454545;
            -webkit-transition-property: color;
            transition-property: color;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
        }
        .hvr-shutter-in-horizontal:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #e7e6e6;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: 50%;
            transform-origin: 50%;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }
        .hvr-shutter-in-horizontal:hover, .hvr-shutter-in-horizontal:focus, .hvr-shutter-in-horizontal:active {
            color: white;
        }
        .hvr-shutter-in-horizontal:hover:before, .hvr-shutter-in-horizontal:focus:before, .hvr-shutter-in-horizontal:active:before {
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
        }

        /* Wobble To Bottom Right */
        @-webkit-keyframes hvr-wobble-to-bottom-right {
            16.65% {
                -webkit-transform: translate(8px, 8px);
                transform: translate(8px, 8px);
            }
            33.3% {
                -webkit-transform: translate(-6px, -6px);
                transform: translate(-6px, -6px);
            }
            49.95% {
                -webkit-transform: translate(4px, 4px);
                transform: translate(4px, 4px);
            }
            66.6% {
                -webkit-transform: translate(-2px, -2px);
                transform: translate(-2px, -2px);
            }
            83.25% {
                -webkit-transform: translate(1px, 1px);
                transform: translate(1px, 1px);
            }
            100% {
                -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
            }
        }
        @keyframes hvr-wobble-to-bottom-right {
            16.65% {
                -webkit-transform: translate(8px, 8px);
                transform: translate(8px, 8px);
            }
            33.3% {
                -webkit-transform: translate(-6px, -6px);
                transform: translate(-6px, -6px);
            }
            49.95% {
                -webkit-transform: translate(4px, 4px);
                transform: translate(4px, 4px);
            }
            66.6% {
                -webkit-transform: translate(-2px, -2px);
                transform: translate(-2px, -2px);
            }
            83.25% {
                -webkit-transform: translate(1px, 1px);
                transform: translate(1px, 1px);
            }
            100% {
                -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
            }
        }
        .hvr-wobble-to-bottom-right {
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px transparent;
        }
        .hvr-wobble-to-bottom-right:hover, .hvr-wobble-to-bottom-right:focus, .hvr-wobble-to-bottom-right:active {
            -webkit-animation-name: hvr-wobble-to-bottom-right;
            animation-name: hvr-wobble-to-bottom-right;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
        }

        /* Wobble Horizontal */
        @-webkit-keyframes hvr-wobble-horizontal {
            16.65% {
                -webkit-transform: translateX(8px);
                transform: translateX(8px);
            }
            33.3% {
                -webkit-transform: translateX(-6px);
                transform: translateX(-6px);
            }
            49.95% {
                -webkit-transform: translateX(4px);
                transform: translateX(4px);
            }
            66.6% {
                -webkit-transform: translateX(-2px);
                transform: translateX(-2px);
            }
            83.25% {
                -webkit-transform: translateX(1px);
                transform: translateX(1px);
            }
            100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
        }
        @keyframes hvr-wobble-horizontal {
            16.65% {
                -webkit-transform: translateX(8px);
                transform: translateX(8px);
            }
            33.3% {
                -webkit-transform: translateX(-6px);
                transform: translateX(-6px);
            }
            49.95% {
                -webkit-transform: translateX(4px);
                transform: translateX(4px);
            }
            66.6% {
                -webkit-transform: translateX(-2px);
                transform: translateX(-2px);
            }
            83.25% {
                -webkit-transform: translateX(1px);
                transform: translateX(1px);
            }
            100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
        }
        .hvr-wobble-horizontal {
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px transparent;
        }
        .hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
            -webkit-animation-name: hvr-wobble-horizontal;
            animation-name: hvr-wobble-horizontal;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
        }
    }
}
