<article class="listItem">
    <figure class="listItem-figure">
        <img class="listItem-image" src="{{getImage image 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
    </figure>
    <div class="listItem-body">
        <div class="listItem-content">
            <div class="listItem-details">
                <h4 class="listItem-title">
                    <a href="{{url}}">{{name}}</a>
                </h4>
            </div>
        </div>
    </div>
</article>
