<section class="heroCarousel"
    data-slick='{
        "dots": true,
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "autoplay": true,
        "autoplaySpeed": {{carousel.swap_frequency}}
    }' style="width: 80.5%; margin: auto;">

    <div class="heroCarousel-slide bottom"
        style="background-image: url({{cdn 'img/bottom_carousel/soiree2.jpg'}})">

        <img class="heroCarousel-image" src="{{cdn 'img/bottom_carousel/soiree2.jpg'}}"/>
        <div class="heroCarousel-content">
            <h1 class="heroCarousel-title">WELCOME TO THE BOLD<br/>LOOK OF ROUX</h1>
            <hr />
            <p class="heroCarousel-description">Through delight we bring our style<br/> to the table. In something so simple as a cup<br/> we find abundant meaning.</p>

            <a href="#"><span class="heroCarousel-action button button--carousel hvr-shutter-in-horizontal hvr-wobble-to-bottom-right button--large">FIND YOUR MEANING</span></a>

        </div>

    </div>

    <div class="heroCarousel-slide bottom"
         style="background-image: url({{cdn 'img/bottom_carousel/soiree2.jpg'}})">

        <img class="heroCarousel-image" src="{{cdn 'img/bottom_carousel/soiree2.jpg'}}"/>
        <div class="heroCarousel-content">
            <h1 class="heroCarousel-title">WELCOME TO THE BOLD<br/>LOOK OF ROUX</h1>
            <hr />
            <p class="heroCarousel-description">Through delight we bring our style<br/> to the table. In something so simple as a cup<br/> we find abundant meaning.</p>

            <a href="#"><span class="heroCarousel-action button button--carousel hvr-shutter-in-horizontal hvr-wobble-to-bottom-right button--large">FIND YOUR MEANING</span></a>

        </div>

    </div>

    <div class="heroCarousel-slide bottom"
         style="background-image: url({{cdn 'img/bottom_carousel/soiree2.jpg'}})">

        <img class="heroCarousel-image" src="{{cdn 'img/bottom_carousel/soiree2.jpg'}}"/>
        <div class="heroCarousel-content">
            <h1 class="heroCarousel-title">WELCOME TO THE BOLD<br/>LOOK OF ROUX</h1>
            <hr />
            <p class="heroCarousel-description">Through delight we bring our style<br/> to the table. In something so simple as a cup<br/> we find abundant meaning.</p>

            <a href="#"><span class="heroCarousel-action button button--carousel hvr-shutter-in-horizontal hvr-wobble-to-bottom-right button--large">FIND YOUR MEANING</span></a>

        </div>

    </div>

</section>
