<section class="heroCarousel"
    data-slick='{
        "dots": true,
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "autoplay": true,
        "autoplaySpeed": {{carousel.swap_frequency}}
    }' style="width: 80.5%; margin: auto;">

    <div class="heroCarousel-slide bottom"
        style="background-image: url({{cdn 'img/bottom_carousel/Wholesalejewelry.jpg'}})">

        <img class="heroCarousel-image" src="{{cdn 'img/bottom_carousel/Wholesalejewelry.jpg'}}"/>
        <div class="heroCarousel-content">
            <h1 class="heroCarousel-title">Hand Crochet Jewelry</h1>
            <hr />
            <p class="heroCarousel-description">In Soiree, you'll find all the reason you need to make an event of it. It's a bold collection of jewelry with a fresh Roux look.</p>

            <a href="/wholesale-jewelry/soiree/"><span class="heroCarousel-action button button--carousel hvr-shutter-in-horizontal hvr-wobble-horizontal button--large">Limited Collection</span></a>

        </div>

    </div>

    <div class="heroCarousel-slide bottom"
         style="background-image: url({{cdn 'img/bottom_carousel/fleurdeliswholesale.jpg'}})">

        <img class="heroCarousel-image" src="{{cdn 'img/bottom_carousel/fleurdeliswholesale.jpg'}}"/>
        <div class="heroCarousel-content">
            <h1 class="heroCarousel-title">Home Decor and Accessories</h1>
            <hr />
            <p class="heroCarousel-description">Decorative candleholders with gorgeous petina and cast iron welcome plaques.</p>

            <a href="/wholesale-decor-and-wall-hangings/"><span class="heroCarousel-action button button--carousel hvr-shutter-in-horizontal hvr-wobble-horizontal button--large">SHOP ACCESSORIES</span></a>

        </div>

    </div>

    <div class="heroCarousel-slide bottom"
         style="background-image: url({{cdn 'img/bottom_carousel/wholesalehandtowels.jpg'}})">

        <img class="heroCarousel-image" src="{{cdn 'img/bottom_carousel/wholesalehandtowels.jpg'}}"/>
        <div class="heroCarousel-content">
            <h1 class="heroCarousel-title">Luxurious Hand Towels</h1>
            <hr />
            <p class="heroCarousel-description">A bold collection that speaks to a charming story. Fine cloth and silk screens make these towels a force in the kitchen.</p>

            <a href="/wholesale-hand-towels/"><span class="heroCarousel-action button button--carousel hvr-shutter-in-horizontal hvr-wobble-horizontal button--large">LEARN MORE</span></a>

        </div>

    </div>

</section>
