<section class="heroCarousel"
    data-slick='{
        "dots": true,
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "autoplay": true,
        "autoplaySpeed": {{carousel.swap_frequency}}
    }' style="width: 80.5%; margin: auto;">

    <div class="heroCarousel-slide bottom"
        style="background-image: url({{cdn 'img/bottom_carousel/rouxpineapple.jpg'}})">

        <img class="heroCarousel-image" src="{{cdn 'img/bottom_carousel/rouxpineapple.jpg'}}"/>
        <div class="heroCarousel-content">
            <h1 class="heroCarousel-title">&nbsp;</h1>
            <hr />
            <p class="heroCarousel-description">Pineapples say welcome, and so do we</p>

            <a href="/wholesale-pineapple-decor/"><span class="heroCarousel-action button button--carousel hvr-shutter-in-horizontal hvr-wobble-horizontal button--large">Limited Collection</span></a>

        </div>

    </div>

    <div class="heroCarousel-slide bottom"
         style="background-image: url({{cdn 'img/bottom_carousel/design1.jpg'}})">

        <img class="heroCarousel-image" src="{{cdn 'img/bottom_carousel/design1.jpg'}}"/>
        <div class="heroCarousel-content">
            <h1 class="heroCarousel-title">&nbsp;</h1>
            <hr />
            <p class="heroCarousel-description">&nbsp;</p>

            <a href="/wholesale-bags-and-totes/"><span class="heroCarousel-action button button--carousel hvr-shutter-in-horizontal hvr-wobble-horizontal button--large">SHOP ACCESSORIES</span></a>

        </div>

    </div>

    <div class="heroCarousel-slide bottom"
         style="background-image: url({{cdn 'img/bottom_carousel/rouxandyou.jpg'}})">

        <img class="heroCarousel-image" src="{{cdn 'img/bottom_carousel/rouxandyou.jpg'}}"/>
        <div class="heroCarousel-content">
            <h1 class="heroCarousel-title">Our Commitment to You</h1>
            <hr />
            <p class="heroCarousel-description">One we'll always make good. </p>

            <a href="/you/"><span class="heroCarousel-action button button--carousel hvr-shutter-in-horizontal hvr-wobble-horizontal button--large">LEARN MORE</span></a>

        </div>

    </div>

</section>
